<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="menu/menu2 :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="menu/menu :: header"></header>
	
	<section th:replace="menu/menu :: section"></section>
    
    <main class="mt-5 pt-3">
      <div class="container-fluid">
      
      	 <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
              <h1 class="text-center">Crear un nuevo curso</h1>
              <div class="card-body">
                 <form class="row g-3" th:action="@{/cursos}" th:object="${curso}" method="POST">
                 	
                 	<div class="col-md-12">
                       <label>Codigo : </label>
                       <input type="text" name="codigo" th:field="*{codigo}" class="form-control" placeholder=" " required>
                    </div>
                 	
                    <div class="col-md-12">
                       <label>Nombre : </label>
                       <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder=" " required>
                    </div>
                    
                    <div class="col-md-12">
                       <label>Descripcion : </label>
                       <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control" required>
                    </div>
                    
                    <div class="col-md-4">
						<div >
						<label for="floatingSelectGrid">Semestre: </label>
							<select th:field="*{semestre}" class="form-select" required>
							  <option value="1">1</option>
							  <option value="2">2</option>
							  <option value="3">3</option>
							  <option value="4">4</option>
							  <option value="5">5</option>
							  <option value="6">6</option>
							  <option value="7">7</option>
							  <option value="8">8</option>
							  <option value="9">9</option>
							  <option value="10">10</option>									
							</select>														
						</div>
					</div>   
                    
             
                    <div class="box-footer">
                       <button class="btn btn-success">Agregar</button>                       
                    </div>
                 </form>
              </div>
              </div>
              
      
      </div>
      </main>
   
    <footer th:replace="menu/menu2 :: footer"></footer>
    
  </body>
</html>

