<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="menu/menu4 :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="menu/menu :: header"></header>
	
	<section th:replace="menu/menu :: section"></section>
	
    <main class="mt-5 pt-3">
      <div class="container-fluid">
      		
      				<a th:href="@{/actividades/{id}(id=${grupo.id})}"
						class="btn btn-danger"><i class="bi bi-box-arrow-left"></i></a>  <!-- ATRAS -->
						
      		
      	 <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" sec:authorize="hasAnyAuthority('profesor')">
              <h1 class="text-center">agregar competencias</h1>
              <div class="card-body">
                 <form class="row g-3"th:action="@{/actividades/agregarCompetencias/{id}(id=${grupo.id})}"  th:object="${grupo}" method="POST">
                    	
													
							<table id="example" class="table table-striped table-hover table-bordered"
							style="width: 100%">
							<thead class="table text-white border-light" style="background-color: #dd4b39">
								<tr>
									<th>Competencias</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>
									<label>Competencias genericas</label>
									<br>
									<th:block th:each="competencia : ${listCompetenciaGenerica}"  requerid>
									<input type="checkbox" name="competencias" th:value="${competencia.identificacion}"/>
	                				<label th:text="${competencia.identificacion}"></label>
	                				<label>-</label>
	                				<label th:text="${competencia.nombre}"></label>
	                				<label th:text="${competencia.descripcion}"></label>
	                				<br>
									</th:block>
									<br>
									<label>Competencias especificas</label>
									<br>
									<th:block th:each="competencia : ${listCompetenciaEspecifica}"  requerid>
									<input type="checkbox" name="competencias" th:value="${competencia.identificacion}"/>
	                				<label th:text="${competencia.identificacion}"></label>
	                				<label>-</label>
	                				<label th:text="${competencia.nombre}"></label>
	                				<label th:text="${competencia.descripcion}"></label>
	                				<br>
									</th:block>
								</td>
								</tr>
							</tbody>
							</table>
                    <div class="box-footer">
                       <button class="btn btn-success">Agregar</button>                       
                    </div>
                 </form>
                 
                 
              </div>
              </div>
              <br><br><br>
              
              <table id="example" class="table table-striped table-hover table-bordered"
							style="width: 100%">
							<thead class="table text-white border-light" style="background-color: #dd4b39">
							
								<tr>
									<th colspan="5" class="text-center">Competencias Actuales:</th>
								</tr>
								<tr>
									<th>Identificación</th>
									<th>Tipo de competencia</th>
									<th>Nombre</th>
									<th>Descripcion</th>
									<th sec:authorize="hasAnyAuthority('profesor')" >Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="competencia : ${listCompetencias}">
				
									<td th:text="${competencia.identificacion}"></td>
									<td th:text="${competencia.tipoCompetencia}"></td>
									<td th:text="${competencia.nombre}"></td>
									<td th:text="${competencia.descripcion}"></td>
									<td>				 
										<a sec:authorize="hasAnyAuthority('profesor')" th:href="@{/actividades/agregarCompetencias/{id_grupo}/{id_competencia}(id_grupo=${grupo.id}, id_competencia= ${competencia.identificacion})}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
      
      </div>
      </main>
   
    <footer th:replace="menu/menu4 :: footer"></footer>
  </body>
</html>

