<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link  rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" th:href="@{css/dataTables.bootstrap5.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Arq2022</title>
  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
         th:href="@{/}"
          >Arquitectura</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topNavBar"
          aria-controls="topNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <div class="d-flex ms-auto my-3 my-lg-0">
          
           <a class="navbar-brand">
           <span th:text="${usuario.primerNombre}"></span>
           <span th:text="${usuario.segundoNombre}"></span>
           <span th:text="${usuario.primerApellido}"></span>
           <span th:text="${usuario.segundoApellido}"></span>
           </a>
          </div>
          
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
             
              <a
                class="nav-link dropdown-toggle ms-2"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-fill"></i>
              </a>
            
        
              <ul class="dropdown-menu dropdown-menu-end">
                <li ><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Sobre la app</a></li>
                <li sec:authorize="isAuthenticated()">
                  <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-dark"
      tabindex="-1"
      id="sidebar"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                CORE
              </div>
            </li>
            <li>
              <a th:href="@{/}" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Inicio</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Interface 
              </div>
            </li>
           
             <!--             Menu gestionar grupos -->
            
             <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#layouts"
              >
                <span class="me-2"><i class="bi bi-people"></i></span>
                <span>Grupos</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a th:href="@{/grupos}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-person-check"></i
                      ></span>
                      <span>Ver grupos</span>
                    </a>
                  </li>
                   <li>
                    <a th:href="@{/grupos/nuevo}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-person-plus"></i
                      ></span>
                      <span>Agregar grupo</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
<!--             Menu de cursos -->
            
            <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#layouts1"
              >
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Cursos</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts1">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a th:href="@{/cursos}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-view-stacked"></i
                      ></span>
                      <span>Ver cursos</span>
                    </a>
                  </li>
                  
                   <li>
                    <a th:href="@{/cursos/nuevo}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-folder-plus"></i
                      ></span>
                      <span>Agregar curso</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
<!--             Menu gestionar profesores -->
            
             <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#layouts2"
              >
                <span class="me-2"><i class="bi bi-people"></i></span>
                <span>Profesores</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts2">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a th:href="@{/profesores}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-person-check"></i
                      ></span>
                      <span>Ver profesores</span>
                    </a>
                  </li>
                  
                   <li>
                    <a th:href="@{/profesores/nuevo}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-person-add"></i
                      ></span>
                      <span>Agregar profesores</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
            
<!--             Menu gestionar estudiantes -->
            
             <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#layouts3"
              >
                <span class="me-2"><i class="bi bi-people"></i></span>
                <span>Estudiantes</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts3">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a th:href="@{/estudiantes}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-person-check"></i
                      ></span>
                      <span>Ver estudiantes</span>
                    </a>
                  </li>
                   <li>
                    <a th:href="@{/estudiantes/nuevo}" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-person-plus"></i
                      ></span>
                      <span>Agregar Estudiantes</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
            
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Reportes</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Addons
              </div>
            </li>
            
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Calendario</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
    <main class="mt-5 pt-3">
      <div class="container-fluid">
      	
      	
      	<table id="example" class="table table-striped table-bordered"
			style="width: 100%">
			<thead class="table-dark">
				<tr>
					<th>Tipo de Documento</th>
					<th>Documento</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Correo</th>
					<th>telefono</th>
					<th> Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="profesor : ${listProfesores}">

					<td th:text="${profesor.tipoDocumento}"></td>
					<td th:text="${profesor.documento}"></td>
					<td th:text="${profesor.primerNombre}"></td>
					<td th:text="${profesor.primerApellido}"></td>
					<td th:text="${profesor.email}"></td>
					<td th:text="${profesor.telefono}"></td> 
					<td><a  th:href="@{/profesores/ver/{id}(id=${profesor.id})}" class="btn btn-warning">Ver</a>&nbsp&nbsp&nbsp
					 	<a th:href="@{/profesores/editar/{id}(id=${profesor.id})}" class="btn btn-info">Editar</a>&nbsp&nbsp&nbsp					 
						<a th:href="@{/profesores/{id}(id=${profesor.id})}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	
      
      </div>
      </main>
   
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js}"></script>
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>

